
/*  SECTIONS  */
.section {
	clear: both;
  padding: 0px;
  text-align: center;
  margin: 0px;

}

/*  COLUMN SETUP  */
.col {
  display: block;
  box-sizing: border-box;
	float:left;
	margin: 1% 0 1% 1.6%;
  background-color: light grey;
  border-radius: 5px solid black;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
  /* max-width: 300px; */

}

.explainContent {
  /* padding-left: 100px;
  padding-right: 50px; */

}

.col:first-child { margin-left: 1; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 28%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 950px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}