.list {
    background-color: lightgrey;
    border: 1px solid  #F78758;
    padding: 15px;
    margin: 10px;
    width: 154;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 8px;
}