.passwordValidateMessage,
.usernameValidateMessage {
  position: absolute;
  background: red;
  font-size: 13px;
  color: white;
  padding: 3px;
  margin-top: -20px;
  left: 60px;
}

.login-form {
  border-radius: 1px solid black;
  position: absolute;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  top: 60px;
  right: 0;
  height: 200px;
  background-color: white;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  
}

.registration-form {
  border-radius: 1px solid black;
  position: absolute;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  top: 60px;
  right: 0;
  background-color: white;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  
}


.loginInput, .loginLabel {
  display: block;
  margin: 5px;
}

.loginLabel {
  color: #262828;
  margin-left: 60px;
  font-size: 14px;
  margin-top: 10px;
}

.loginInput {
  background: rgba(194, 194, 195, .6);
  height: 25px;
  width: 200px;
  margin: 0 auto;
  font-size: 13px;
  padding-left: 10px;
}


.loginLoading {
  width: 310px;
  color: white;
  font-size: 14px;
  padding: 7px;
  margin-left: 5px;
  background: rgba(61, 80, 153, 1);
  text-align: center;
}


.submitLogInButton {
  width: 70px;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #4b6dff;
  color: white;
  font-size: 14px;
}

.submitLogInButton:hover {
  background: rgba(61, 80, 153, 1);
}


.closeButton:hover {
  background: none;
  color: red;
}

@media only screen and (min-width: 321px) {
  .loginContain {
    border-radius: 0 0 0 25px;
  }
  .registration-form {
    width: 25%;
  }
}

.closed-button {
  margin-left: 100%;
  text-decoration: none;
}

.demo {
  margin-top: 20px;
  font-size: 12px;
}

.lobtn {
  margin-top: 10px;
}