.mainSection {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  
.mainBlock {
    background: white;
    height: 300px;
    margin: 20px;
  /* margin-top: 100px; */
    display: flex;
    align-items: center;  
}

  .iconContain {
    display: inline-block;
    margin: 10px;
  }
  
  .mainIconContain {
    display: inline-block;
    margin: 15px;
  }
  
  .iconBox {
    display: flex;
    justify-content: center;
  }
  
  
  .mainIcon {
    width: 100%;
  }
  
@media only screen and (min-width: 640px) {
  
  .introSection {
      height: 400px;
  }
  
  
  .iconContain {
    margin: 20px;
  }
  
}
  
  @media only screen and (min-width: 750px) {
    .mainSection {
      padding: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 20px;
    }
  
    .mainBlock {
      margin: 0;
      display: grid;
    }
  
    .mainIcon {
      margin: 0 auto;
    }
  
    .mainIconContain {
     display: flex;
     justify-content: center;
    }
  
    .mainContent {
      /* padding: 20px;
      text-align: center; */

    }
  }