.navContainer {
    background:#62256A;
    height: 60px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
  }
  
  h1 {
    color: white;
    margin-left: 20px;
    font-size: 40px;
  }
  
  .headerLink {
      text-decoration: none;
  }
  
  .navLink {
    text-decoration: none;
    padding-right: 25px;
    padding-bottom: 20px;
    font-size: 18px;
    color: white;
  }
  
  .navWide {
    position: absolute;
    right: 0;
    top: 20px;
  }

  button {
    margin-right: 20px;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;

  }

  .mainIcon {
    width: 25%;
    padding-top: 30px;
    padding-bottom: 30px;
    left: 5;
  }